src/main/resources/deployment.xsd

<?xml version="1.0"?>
<xsd:schema elementFormDefault="qualified"
    targetNamespace="http://guidewire.com/accelerator/deployment"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="http://guidewire.com/accelerator/deployment">
    <xsd:element name="accelerator" nillable="false" type="ns1:accelerator"/>
    <xsd:complexType name="accelerator">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="pcfRoot">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"
                        />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="gosuRoot">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"
                        />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="gunitRoot">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"
                        />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="antBuild">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="buildFile" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="target" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="library">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="pluginDirectory"
                            type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mavenBuild">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="goals" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="dataExtension">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="directory" type="xsd:string"
                        />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="messageQueue">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" name="messageRequest">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="requestName"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="requestType">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="gosu" />
                                                <xsd:enumeration value="java" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="requestClass"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0"
                                        name="requestParameters">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="parameter" type="ns1:pluginParam"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" name="messageTransport">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="transportName"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="transportType">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="gosu" />
                                                <xsd:enumeration value="java" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="transportClass"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0"
                                        name="transportParameters">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="parameter" type="ns1:pluginParam"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="events">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="eventName" type="xsd:string"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" name="messageReply">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="replyName"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="replyType">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="gosu" />
                                                <xsd:enumeration value="java" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="replyClass"
                                        type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="replyParameters">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="parameter" type="ns1:pluginParam"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="disabled" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="pollInterval" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="initialRetryInterval"
                            type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="maxRetries" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="retryBackoffMultiplier"
                            type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="numberThreads"
                            type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="chunkSize" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="shutdownTimeout"
                            type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="destination"
                            type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="plugin">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="java">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="disabled"  type="xsd:boolean"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="classname" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="plugindir" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="env" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="server" type="xsd:string"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="pluginParam" type="ns1:pluginParam"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="gosu">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="disabled"  type="xsd:boolean"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="classname" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="env" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="server" type="xsd:string"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="pluginParam" type="ns1:pluginParam"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="displaykey">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="file" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="rpcWebService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="wsdlLocation" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="setting">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="1" name="authentication">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element minOccurs="1" maxOccurs="1" type="xsd:string"  name="authenticationType"/>
                                                <xsd:element minOccurs="1" maxOccurs="1" type="xsd:string"  name="username"/>
                                                <xsd:element minOccurs="1" maxOccurs="1" type="xsd:string"  name="password"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:int"     name="callTimeout"/>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string"  name="env"/>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string"  name="server"/>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:boolean" name="overrideEnabled"/>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string"  name="overrideUrl"/>
                                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string"  name="serviceName"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pluginParam">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="server" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="env" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
